<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who'll be the next...?</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">    
</head>
<body v-scope>
    <div class="container is-fluid">
        <h1 class="is-size-3">Who'll be the next...?</h1>
        <div class="columns is-gapless">
            <div class="column is-half">
                <section class="add-people">
                    <div class="columns">
                        <div class="column">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" v-model="inputPersonName" type="text" @keydown.enter="addPerson" placeholder="Add a person" /> 
                                </div>
                                <div class="control">
                                    <button class="button is-primary" type="button" @click="addPerson">Add</button>
                                </div>
                              </div> 
                        </div>
                    </div>
                </section>
            </div>
            <div class="column">
                <section class="manage-people-list ">
                    <h3 class="is-size-5">List of People ({{numberOfPeople}})</h3>
                    <ul v-for="person in peopleList">
                        <li>{{person}} <button  class="delete" type="button" title="Remove" @click="removePerson(person)"></button></li>
                    </ul>
                </section>                
            </div>            
        </div>     


        <section class="draw-host">
            <h3 class="is-size-4">Draw Someone</h3>
            <p><label class="checkbox"><input type="checkbox" @change="cleanUp" v-model="isNoRepeat">
                No-repeat?</input></label></p>
            <button :disabled="peopleList.length === 0"  class="button is-primary" type="button" @click="drawPerson">Draw</button>
            <button :disabled="peopleDrawn.length === 0"  class="button is-warning" type="button" @click="cleanUp">Clear</button>
            <p>Result: {{peopleDrawnText}}</p>
        </section> 
    </div>
</body>
<script>
    // Generates a random integer between the specified minimum and maximum values (inclusive).
    // 
    // Parameters:
    // - min: The minimum value for the random integer.
    // - max: The maximum value for the random integer.
    // 
    // Returns:
    // The randomly generated integer.
    function getRandomIntInclusive(min, max) {
        const randomBuffer = new Uint32Array(1);
        window.crypto.getRandomValues(randomBuffer);
        let randomNumber = randomBuffer[0] / (0xffffffff + 1);
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(randomNumber * (max - min + 1)) + min;
    }
</script>
<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'
  
    createApp({
      inputPersonName: '',
      peopleList: [],
      clonedPeopleList: [],
      isNoRepeat: true,
      peopleDrawn: [],
      get peopleDrawnText(){
        return this.peopleDrawn.join(', ')  
      },
      get numberOfPeople(){
        return this.peopleList.length
      },
      // methods
      addPerson() {
        if(this.inputPersonName === ''){
            window.alert('Please provide a name!');
        }
        else if ( this.peopleList.find(person => person === this.inputPersonName) ){
            window.alert('Person already exists! Please provide a unique name.');
        }else{
            this.peopleList.push(this.inputPersonName);
            this.inputPersonName = '';
            this.clonedPeopleList = [...this.peopleList];
            this.clearDrawPerson();
        }
      },
      removePerson(person){
        this.peopleList = this.peopleList.filter(p => p !== person)
        this.cleanUp();
      },
      drawPerson(){
        if(this.peopleList.length == 0){
            window.alert('Please add people first!');
        }else{
            if(this.isNoRepeat){
                if(this.clonedPeopleList.length == 0){
                    this.clonedPeopleList = [...this.peopleList];
                    this.peopleDrawn = [];
                }
                let personIndex = getRandomIntInclusive(0,this.clonedPeopleList.length-1)
                this.peopleDrawn.push(this.clonedPeopleList[personIndex]);
                this.clonedPeopleList = this.clonedPeopleList.toSpliced(personIndex,1);
                if(this.clonedPeopleList.length == 0){
                    window.alert('All people have been drawn!');
                }                
            }else{
                let personIndex = getRandomIntInclusive(0,this.peopleList.length-1)
                this.peopleDrawn.push( this.peopleList[personIndex] );
            }
        }
     },
     cleanUp(){
        this.clonedPeopleList = [...this.peopleList];
        this.peopleDrawn = [];
     }
    }).mount()
  </script>
</html>